/* Header/Navbar styles */

.header-container
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.announcement-bar
{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    height: 45px;
    text-align: center;
    background-color: var(--red);
    color: #fff;
    line-height: 40px;
    font-size: 18px;
}

.navbar
{
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 50px;
    background-color: #fff;
}

.navbar ul
{
    display: flex;
    list-style: none;
}

.navbar .logo
{
    flex: 0 1 15%;
    color: var(--red);
    font-size: 30px;
    font-weight: bold;
}


.header-container .categories-container
{
    display: flex;
    flex: 0 1 40%;
    justify-content: space-between;
    position: relative;
    height: 50px;
    font-size: 22px;
}

.header-container .categories-container li
{
    display: flex;
    flex: 0 1 20%;
    justify-content: center;
    align-items: center;
}

.header-container .category-item
{
    position: relative;
}

.parent:hover::after
{
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--red);
    top: 72px;
    left: 0;
    position: absolute;
}

.header-container .category-item .cat-header:hover
{
    font-weight: bold;
    cursor: pointer
}

.header-container .category-item .cat-header:hover .dropdown-menu
{
    font-weight: normal;
    cursor: default
}

.search-container
{
    flex: 0 1 20%;
    height: 40px;
    position: relative;
}

.search-container .icon
{
    position: absolute;
    top: 50%;
    transform: translateY( -50%);
    left: 10px;
    font-size: 22px;
}

.search-container input 
{
    width: 100%;
    height: 100%;
    padding: 0 0 0 40px;
    font-size: 18px;
}

.header-container .icons-container
{
    flex: 0 1 10%;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    position: relative;
}

.header-container .icons-container .item-count, .mob-navbar .icons-container .item-count
{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    text-align: center;
    color: #fff;
    background-color: var(--red);
    position: absolute;
    font-size: 12px;
    top: -5px;
    right: -5px;
}

.header-container .icons-container li
{
    position: relative;
}

.header-container .icons-container li:hover
{
    cursor: pointer;
}

.header-container .icons-container li:nth-child(1)
{
    margin-right: 20px;
}

.dropdown-menu
{
    display: none;
    /* display: flex; */
    position: absolute;
    border: 1px solid black;
    left: -1px;
    top: 75px;
    background-color: #fff;
    width: 105%;
    min-height: 250px;
    opacity: 0;
    transition: opacity 0.5s;
    padding: 20px 40px;
    font-size: 18px;
    z-index: -99;
    width: 500px;
}

.dropdown-item
{
    flex: 0 1 50%;
}

.dropdown-item ul
{
    display: flex;
    flex-direction: column;
    padding-top: 10px
}

.dropdown-item li
{
    padding: 5px 0;
    display: block;
}



.mob-navbar
{
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid black;
    justify-content: space-evenly;
    height: 100px;
    padding: 0 50px;
    background-color: #fff;
}

.mob-navbar-inner
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width :100%;
}

.mob-navbar-inner .icons-container
{
    flex: 0 1 10%;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
    position: relative;
}

.mob-navbar-inner .icons-container li:nth-child(1)
{
    margin-right: 20px;
}

.mob-navbar ul
{
    display: flex;
    list-style: none;
}

.mob-navbar .logo
{
    flex: 0 1 15%;
    color: var(--red);
    font-size: 30px;
    font-weight: bold;
}

.mob-navbar .search-container
{
    height: 35px;
    position: relative;
    width: 60%;
    margin: 0 auto;
}

.header-container-mob
{
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.header-container-mob .burger-icon
{
    font-size: 30px;
    display: flex;
}

.header-container-mob .burger-icon:hover
{
    cursor: pointer;
}

.header-container-mob .mob-nav
{
    position: fixed;
    top: 0;
    left: -520px;
    width: 450px;
    height: 100vh;
    background-color: #fff;
    transition: left 500ms;
    z-index: 99;
}

.header-container-mob .mob-nav-inner
{
    position: relative;
    padding: 50px 20px 20px 50px;
    z-index: 9999;
}

.header-container-mob .mob-nav-inner .icon
{
    color: var(--red);
    font-size: 25px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.nav-overlay
{
    height: 100vh;
    width: 100vw;
    background-color: lightgray;
    opacity: 0.5;
    position: fixed;
    display: none;
    z-index: 9;
}


@media only screen and ( max-width: 1100px )
{
    .header-container
    {
        display: none;
    }
    .header-container-mob
    {
        display: block;
    }
    .parent:hover::after
    {
        display: none;
    }
    .category-item
    {
        padding: 5px 0;
    }
    .category-item
    {
        cursor: pointer;
    }
}

@media only screen and ( max-width: 767px )
{
    .mob-navbar
    {
        padding: 0 20px;
        justify-content: center;
    }
    .mob-navbar .search-container
    {
        width: 100%;
    }
    .search-container input
    {
        border: none;
        border-bottom: 1px solid black;
        padding-bottom: 5px;
        font-size: 14px;
        padding-left: 0;
    }
    .search-container .icon
    {
        display: none;
    }
}

@media only screen and ( max-width: 550px )
{
    .header-container-mob .mob-nav
    {
        width: 90%;
    }
}

@media only screen and ( max-width: 400px )
{
    .mob-navbar .logo
    {
        font-size: 24px;
    }
}

@media only screen and ( max-width: 400px )
{
    .mob-navbar-inner .icons-container li:nth-child(1)
    {
        margin-right: 5px;
    }
}