/* Product page Styles */

.page-container
{
    color: black
}

.page-container .top-half
{
    display: flex;
}

.page-container .top-half .image-container
{
    flex: 0 1 60%;
    height: 400px;
}

.page-container .top-half .text-container
{
    flex: 0 1 60%;
    padding-left: 50px;
}

.page-container .top-half .text-container .header
{
    font-size: 40px;
    font-weight: bold;
}

.page-container .top-half .text-container .price
{
    font-size: 24px;
    font-style: italic;
}

.page-container .top-half .text-container .icons-container
{
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.page-container .top-half .text-container .icons-container p
{
    padding-left: 10px;
}

.page-container .top-half .text-container .icon
{
    color: var(--red);
    font-size: 25px;
}

.fit-finder
{
    width: 220px;
}

.klarna
{
    width: 350px;
    padding-top: 15px;
}

.social-icons
{
    display: flex;
    font-size: 25px;
    padding-top: 10px;
    color: var(--red);
}

.social-icons div
{
    margin-right: 20px;
}

.social-icons div:hover
{
    cursor: pointer;
}

.size-container
{
    margin-bottom: 10px;
}

.size-container .size-error
{
    padding: 5px 0;
    font-style: italic;
    color: var(--red);
}

.size-container select
{
    width: 50%;
    height: 30px;
}

.size-container select:hover
{
    cursor: pointer;
}

.size-container select[ disabled ]:hover
{
    cursor: default
}

.page-container .top-half .text-container .cta-container 
{
    display: flex;
    margin-top: 20px
}

.page-container .top-half .text-container .cta-container .button
{
    width: 150px;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: #fff;
    transition: 500ms;
    padding: 10px 0;
    margin-right: 10px;
    text-align: center;
    border-radius: 4px;
}

.page-container .top-half .text-container .cta-container .oos-button
{
    width: 225px;
    border: 1px solid lightgray;
    background-color: lightgray;
    color: #000;
    transition: 500ms;
    padding: 10px 0;
    margin-right: 10px;
    text-align: center;
    border-radius: 4px;
}

.page-container .top-half .text-container .cta-container .oos-button:hover
{
    border: 1px solid lightgray;
    background-color: #000;
    color: lightgray; 
    cursor: pointer;
}

.page-container .top-half .text-container .cta-container .button:hover
{
    cursor: pointer;
    border: 1px solid var(--red);
    background-color: #fff;
    color: var(--red)
}

#success-modal
{
    height: 200px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    background-color: rgb(143, 235, 143);
    color: green;
    opacity: 0;
    font-weight: bold;
    z-index: -99;
    transition: opacity 500ms
}

.success-modal-inner
{
    height: 200px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#success-modal .icon
{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
}

#success-modal .icon:hover
{
    cursor: pointer;
}

.also-like-container, .product-info-container
{
    margin-top: 50px;
}

.also-like-container p 
{
    padding-bottom: 20px;
    font-size: 30px;
}

.also-like-container-inner
{
    height: 400px;
}

.also-like-container-inner div
{
    margin: 0 5px;
}

.product-info-container-nav
{
    display: flex;
    width: 500px;
    justify-content: space-between;
    padding-bottom: 10px;
    transition: transform 500ms
}

.product-info-container-nav div
{
    position: relative;
    color: #757575
}

.product-info-container-nav div:hover
{
    cursor: pointer;
    color: black
}

.product-info-container-nav .active::after
{
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--red);
    position: absolute;
    top: 22px;
    left: 0;
}

.product-info-container .tab-container
{
    display: none;
}

.product-info-container .active
{
    display: block !important;
}


@media only screen and ( max-width: 1500px )
{
    .also-like-container-inner
    {
        height: 350px;
    }
}

@media only screen and ( max-width: 1400px )
{
    .also-like-container-inner
    {
        height: 335px;
    }
}

@media only screen and ( max-width: 1300px )
{
    .also-like-container-inner
    {
        height: 300px;
    }
}

@media only screen and ( max-width: 1100px )
{
    .also-like-container-inner
    {
        height: 260px;
    }
}

@media only screen and ( max-width: 1000px )
{
    .also-like-container-inner
    {
        height: 220px;
    }
}

@media only screen and ( max-width: 767px )
{
    .page-container .top-half
    {
        flex-direction: column;
    }
    .page-container .top-half .text-container
    {
        text-align: center;
        padding-left: 0;
    }
    .page-container .top-half .text-container .icons-container, .page-container .top-half .text-container .cta-container, .social-icons
    {
        justify-content: center;
    }
    .fit-finder, .klarna
    {
        margin: auto;
    }
    .product-info-container-nav
    {
        width: 70%;
    }
}

@media only screen and ( max-width: 500px )
{
    .fit-finder, .klarna
    {
        width: 200px;
    }
    .product-info-container-nav
    {
        width: auto;
        font-size: 12px;
    }
    .product-info-container .tab-container
    {
        font-size: 14px;
    }
}

@media only screen and ( max-width: 400px )
{
    .also-like-container-inner
    {
        height: 80px;
    }
}