:root
{
    --red: #ff323c
}

ul, p
{
    padding: 0;
    margin: 0;
}

ul
{
    list-style: none;
}

body
{
    color: var(--red);
}

img 
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

a 
{
    text-decoration: none;
    color: inherit;
}


/* Header/Navbar styles */
.header-container
{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.announcement-bar
{
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    height: 45px;
    text-align: center;
    background-color: var(--red);
    color: #fff;
    line-height: 40px;
    font-size: 18px;
}

.navbar
{
    display: flex;
    border-bottom: 1px solid black;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 50px;
    background-color: #fff;

}

.navbar ul
{
    display: flex;
    list-style: none;
}

.navbar .logo
{
    flex: 0 1 15%;
    color: var(--red);
    font-size: 30px;
    font-weight: bold;
}


.categories-container
{
    display: flex;
    flex: 0 1 40%;
    justify-content: space-between;
    position: relative;
    height: 50px;
    font-size: 22px;
}

.categories-container li
{
    display: flex;
    flex: 0 1 20%;
    justify-content: center;
    align-items: center;
}

.category-item
{
    position: relative;
}

.parent:hover::after
{
    content: "";
    height: 3px;
    width: 100%;
    background-color: var(--red);
    top: 72px;
    left: 0;
    position: absolute;
}

.category-item .cat-header:hover
{
    font-weight: bold;
    cursor: pointer
}

.category-item .cat-header:hover .dropdown-menu
{
    font-weight: normal;
    cursor: default
}

.search-container
{
    flex: 0 1 20%;
    height: 40px;
    position: relative;
}

.search-container .icon
{
    position: absolute;
    top: 50%;
    transform: translateY( -50%);
    left: 10px;
    font-size: 22px;
}

.search-container input 
{
    width: 100%;
    height: 100%;
    padding: 0 0 0 40px;
    font-size: 18px;
}

.header-container .icons-container
{
    flex: 0 1 10%;
    display: flex;
    justify-content: flex-end;
    font-size: 22px;
}

.header-container .icons-container .item-count
{
    border-radius: 50%;
    height: 15px;
    width: 15px;
    text-align: center;
    color: #fff;
    background-color: var(--red);
    position: absolute;
    font-size: 12px;
    top: -5px;
    right: -5px;
}

.header-container .icons-container li
{
    position: relative;
}

.header-container .icons-container li:hover
{
    cursor: pointer;
}

.header-container .icons-container li:nth-child(1)
{
    margin-right: 20px;
}

.dropdown-menu
{
    display: none;
    /* display: flex; */
    position: absolute;
    border: 1px solid black;
    left: -1px;
    top: 75px;
    background-color: #fff;
    width: 105%;
    min-height: 250px;
    opacity: 0;
    transition: opacity 0.5s;
    padding: 20px 40px;
    font-size: 18px;
    z-index: -99;
    width: 500px;
}

.dropdown-item
{
    flex: 0 1 50%;
}

.dropdown-item ul
{
    display: flex;
    flex-direction: column;
    padding-top: 10px
}

.dropdown-item li
{
    padding: 5px 0;
    display: block;
}

/* Homepage Styles */

.page-container
{
    /* max-width: 1440px; */
    margin: 200px auto 50px;
    /* padding: 0 20px; */
    padding: 0 50px;
}

.sale-item
{
    width: 100%;
    height: 650px;
    z-index: 99;
    margin-bottom: 50px;
}

.sale-item img
{
    object-fit: fill;
}

.collection-container
{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    height: 500px;
    /* padding: 0 50px; */
}

.collection-item
{
    flex: 0 1 31%;
    position: relative;
    z-index: 10;
}

.collection-item .textbox
{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    background-color: #fff;
    height: 35%;
    width: 50%;
    min-width: 200px;
    text-align: center;
    padding: 20px 0;
}

.collection-item .textbox .name 
{
    font-size: 30px;
    width: 60%;
    margin: 0 auto;
}

.collection-item .textbox .cta
{
    margin: 0 auto;
    margin-top: auto;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: #fff;
    width:90%;
    padding: 10px 0;
}

.collection-item .textbox a
{
  text-decoration: none;
}

.collection-item .textbox .cta:hover
{
  border: 1px solid var(--red);
  background-color: #fff;
  color: var(--red);
  cursor: pointer;
}

/* Footer styles */

.footer-container
{
    display: flex;
    background-color: #323232;
    color: #fff;
    bottom: 0;
    padding: 50px;
    font-size: 22px;
}

.tables-container
{
    flex: 0 1 70%;
    display: flex;
    justify-content: space-between;
}

.tables-container .table-item
{
    flex: 0 1 50%;
}

.tables-container .table-item li
{
    padding: 5px 0;
    font-size: 18px;
}

.newsletter-container
{
    flex: 0 1 30%;
}

.newsletter-container-inner
{
    display: flex;
    height: 40px;
    margin-top: 10px;
}

.newsletter-input
{
    width: 100%;
    flex: 0 1 75%;
    height: 37px;
    border: none;
}

.newsletter-container-inner button
{
    width: 100%;
    flex: 0 1 25%;
    height: 100%;
    background-color: var(--red);
    color: #fff;
    border: none;
}

.newsletter-container-inner button:hover
{
    cursor: pointer;
    background-color: #fff;
    color: var(--red);
    border: 1px solid var(--red);
}

/* Cards Styling */

.card-container-inner
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.card-header
{
    text-transform: capitalize;
    width: 100%;
    font-size: 22px;
    padding-bottom: 1em;
}

.card-item
{
    text-align: center;
}

.card-item .header
{
    font-size: 22px;
}

.card-item .image
{
    position: relative;
}

.card-item .image .icon 
{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 18px;
}

.card-item .image .full-heart 
{
    display: none;
}

.card-item .image .icon:hover
{
    cursor: pointer;
}

/* Basket Styles */

.overlay
{
    height: 100vh;
    width: calc(100vw - 450px);
    background-color: lightgray;
    opacity: 0.5;
    position: fixed;
    display: none;
    z-index: 9;
}

.basket-container
{
    position: absolute;
    top: 0;
    right: -520px;
    width: 450px;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    transition: right 500ms;
    /* display: none; */
}

.basket-container-inner
{
    position: relative;
    padding: 50px 20px 20px 50px;
}

.basket-container .icon
{
    color: var(--red);
    font-size: 25px;
    position: absolute;
    top: 10px;
    left: 10px;
}

.basket-container .icon:hover
{
    cursor: pointer;
}

.basket-container-inner .header
{
    font-size: 30px;
    padding-bottom: 10px;
}

.basket-container-inner .basket-item
{
    display: flex;
    color: black;
}

.basket-container-inner .basket-item .image-container
{
    height: 150px;
    width: 150px;
}

.basket-container-inner .basket-item .image-container img
{
    object-fit: contain;
}

.basket-container-inner .basket-item .text-container
{
    padding-left: 20px;
}

.basket-container-inner .basket-item .text-container .header
{
    font-size: 24px;
}

.basket-container-inner .basket-item .text-container .item
{
    padding: 5px 0;
}

.basket-container-inner .button 
{
    width: 200px;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: #fff;
    /* transition: background-color 500ms;
    transition: color 500ms; */
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    margin-top: 30px;
}

.basket-container-inner .button:hover
{
    border: 1px solid var(--red);
    background-color: #fff;
    color: var(--red);
    cursor: pointer;
}

/* Product page Styles */

.page-container
{
    color: black
}

.page-container .top-half
{
    display: flex;
}

.page-container .top-half .image-container
{
    flex: 0 1 60%;
    height: 400px;
}

.page-container .top-half .text-container
{
    flex: 0 1 60%;
    padding-left: 50px;
}

.page-container .top-half .text-container .header
{
    font-size: 40px;
    font-weight: bold;
}

.page-container .top-half .text-container .price
{
    font-size: 24px;
    font-style: italic;
}

.page-container .top-half .text-container .icons-container
{
    display: flex;
    padding: 10px 0;
    align-items: center;
}

.page-container .top-half .text-container .icons-container p
{
    padding-left: 10px;
}

.page-container .top-half .text-container .icon
{
    color: var(--red);
    font-size: 25px;
}

.fit-finder
{
    width: 220px;
}

.klarna
{
    width: 350px;
    padding-top:30px;
}

.size-container
{
    margin-bottom: 10px;
}

.size-container .size-error
{
    padding: 5px 0;
    font-style: italic;
    color: var(--red);
}

.size-container select
{
    width: 50%;
    height: 30px;
}

.size-container select:hover
{
    cursor: pointer;
}

.page-container .top-half .text-container .cta-container 
{
    display: flex;
    margin-top: 20px
}

.page-container .top-half .text-container .cta-container .button
{
    width: 150px;
    border: 1px solid var(--red);
    background-color: var(--red);
    color: #fff;
    /* transition: background-color 500ms;
    transition: color 500ms; */
    padding: 10px 0;
    margin-right: 10px;
    text-align: center;
    border-radius: 4px;
}

.page-container .top-half .text-container .cta-container .button:hover
{
    cursor: pointer;
    border: 1px solid var(--red);
    background-color: #fff;
    color: var(--red)
}

#success-modal
{
    height: 200px;
    width: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
    background-color: rgb(143, 235, 143);
    color: green;
    opacity: 0;
    font-weight: bold;
    z-index: -99;
    transition: opacity 500ms
}

.success-modal-inner
{
    height: 200px;
    width: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

#success-modal .icon
{
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 25px;
}

#success-modal .icon:hover
{
    cursor: pointer;
}

.also-like-container, .product-info-container
{
    margin-top: 50px;
}

.also-like-container p 
{
    padding-bottom: 20px;
}

.also-like-container-inner .item
{
    margin: 0 20px;
}

.product-info-container-nav
{
    display: flex;
    width: 40%;
    justify-content: space-between;
    padding-bottom: 10px;
    transition: transform 500ms
}

.product-info-container-nav div
{
    position: relative;
    color: #757575
}

.product-info-container-nav div:hover
{
    cursor: pointer;
    color: black
}

.product-info-container-nav .active::after
{
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--red);
    position: absolute;
    top: 22px;
    left: 0;
}

.product-info-container .tab-container
{
    display: none;
}

.product-info-container .active
{
    display: block !important;
}